{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
                    {% for item in projects %}
                    <tr>
                        <td><a href="/project?name={{ item.name }}">{{ item.name }}</a></td>
                        <td>{{ item.description }}</td>
						{% if user.role == 'admin' or user.role == 'engineer' %}
						<td><a href="/project/edit?project={{ item.id }}" class="btn btn-default">Edit Project</a>
						<td><a href="/project/all?delete_project={{ item.id }}" class="btn btn-default">Delete Project</a>
						{% endif %}
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
