{% extends "body.html" %}

{% block content %}
	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h3>{{ project.name }}</h3>
			{% autoescape off %}
			<p>{{ project.description }}</p>
			{% endautoescape %}
            <h5><a href="{{ project.website }}">Website</a></h5>
            {% if userIsMember %}
            <a href="/project/unjoin?name={{ project.name }}" class="btn btn-default">Unjoin this Project</a>
            {% else %}
            <a href="/project/join?name={{ project.name }}" class="btn btn-default">Join this Project</a>
            {% endif %}
		</div>
    </div>
    <div class="container" role="main">
            <div class="table-responsive">
                <table class="table table-striped sortable">
                    <thead>
                        <tr>
                            <th>Users</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in project.members.all %}
                        <tr>
                            <td>{{ item.get_full_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}

