{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Group</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for item in groups %}
					<tr>
						<td><a href="/group?name={{ item.name }}">{{ item.name }}</a></td>
						<td>{{ item.description }}</td>
						{% if user.role == 'admin' or user.role == 'student' %}
						<td><a href="/group/all?delete_group={{ item.id }}" class="btn btn-default">Delete Group</a>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
