{% extends "body.html" %}

{% block content %}
	<!-- Content -->
    <div class="container theme-showcase" role="main">
		<div class="jumbotron">
            <img src="/{{ university.photo }}" alt="University Image" width=150/>
			<h3>{{ university.name }}</h3>
			<p>{{ university.description }}</p>
            <h5><a href="{{ university.website }}">Website</a></h5>
			{% if user.role == 'student' %}
            	{% if userIsMember %}
            	<a href="/university/unjoin?name={{ university.name }}" class="btn btn-default">Unjoin this University</a>
            	{% else %}
            	<a href="/university/join?name={{ university.name }}" class="btn btn-default">Join this University</a>
            	{% endif %}
			{% endif %}
		</div>
    </div>
    <div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Users</th>
					</tr>
				</thead>
				<tbody>
					{% for item in university.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
						{% if user.role == 'admin' or user.role == 'teacher' %}
						<td><a href='/university?name={{ university.name }}&delete_student={{ item.id }}' class='btn btn-default'>Remove Student</a></td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% if user.role == 'admin' or user.role == 'teacher' %}
    	<div class="panel panel-default">
        	<form method="post" enctype="multipart/form-data" action="/university/add_student?name={{ university.name }}" class="panel-body validate">
        	{% csrf_token %}
            	<label for="member">Student Email</label>
             	<input type="text" name="student" id="student" placeholder="Student" class="form-control" data-bvalidator="required" data-bvalidator-msg="Student Email Required">
             	<br>
             	<input type="submit" value="Add" class="btn btn-primary">
        	</form>
    	</div>
		{% endif %}
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Courses</th>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for item in university.course_set.all %}
					<tr>
						<td><a href="/university/course?name={{ university.name }}&course={{ item.tag }}">{{ item.tag }}</a></td>
						<td><a href="/university/course?name={{ university.name }}&course={{ item.tag }}">{{ item.name }}</a></td>
						<td>{{ item.description }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<a href="/university/course/form?name={{ university.name }}" class="btn btn-default">Add a course</a>
	</div>
	
{% endblock %}
